<h1 align ="center"> New Listing </h1>


<form action ="/listings" method ="post" id ="article[id]" enctype="multipart/form-data">
	<input type ="hidden" name ="authenticity_token" value="<%= form_authenticity_token %>">
	<% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="form-group row">
		<label class ="col-sm-2 form-control-label"> Name </label>
		<div class = "col-sm-10">
			<input type ="text" class ="form-control" name ="listing[name]">
		</div>
	</div>
	<div class="form-group row">
		<label class ="col-sm-2 form-control-label">Description </label>
		<div class ="col-sm-10">
			<textarea name="listing[description]" class ="form-control" rows ="10" placeholder ="Description of article"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label class ="col-sm-2 form-control-label"> Price</label>
		<div class = "col-sm-10">
			<input type ="text" class ="form-control" name ="listing[price]">
		</div>
	</div>
	<div class="form-group row">
		<label class ="col-sm-2 form-control-label"> Image </label>
		<div class ="col-sm-10">
			<input type ="file" class ="form-control" name ="listing[image]" multiple>
		</div>
	</div>
	<div class ="form-group row">
		<div class ="col-sm-offset-2 col-sm-10">
			<button type ="submit" class ="btn btn-primary btn-md">Create listing</button>
		</div>
	</div>
</form>
<%= link_to 'Back', listings_path %>
